.html .body{
    margin: 0%; 
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{

    /*    Theme Colors    */

    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight-green: #104f55;

    /*   Gradient Colors   */

    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);


    /*   Theme Font-Family   */

    --Abel: 'Abel', consolas;
    --Anton: 'Anton', consolas;
    --Josefin: 'Josefin', consolas;
    --Lexend: 'Lexend', consolas;
    --Livvic: 'Livvic', consolas;
}

/*----------Global Classes----------*/

a{
    text-decoration: none;
    color: var(--text-gray)
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.divider {
    margin: 1rem 0 1rem 0;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Lexend);
    font-size: 2.5rem;
    color: var(--text-gray) #3f4954;
}

h2{
    font-family: var(--Lexend);
    font-size: 2rem;
    color: var(--text-gray) #3f4954;
}

h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}

button.btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer; 
}

span{
    font-family: var(--Abel);
}

.container{
    margin: 0 5vw;
}

.text-gray{
    color: var(--text-gray)
}

p{
    font-family: var(--Livvic);
    color: var(--text-light)
}



/* -------------- All Styling Menu-------------------- */

* {
    margin: 0;
    padding: 0;
}


/* -------------- Navbar Styling -------------------- */

.container {
    width: 90%;
    margin: 0 auto;

}

.navbar {
    width: 100%;
    overflow: hidden;
    height: 70px;
    line-height: 70px;
    background: white;
}

.logo {
    width: 250px;
    padding: 10px 0;
    float: left;
}

.menu {
    float: right;
}

.menu li {
    float: left;
    width: 100px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    list-style: none;
}

.menu li a {
    color: gray;
    text-decoration: none;
    font-family: monospace;
    font-size: 20px;
    display: block;
}

.menu li:hover {
    background: #892BA4
}

.menu li a:hover {
    color: #fff
}

/* -------------- Main Section Styling -------------------- */

main .site-title{
    background: url('./assets/Images/pic4.jpg');
    background-size: cover;
    height: 88.8vh;
    display: flex;
    justify-content: center;
}

main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--white)
}

main .site-title h1, h3{
    margin: .3rem;
}

main .site-title .btn{
    margin: 1.8rem;
    background: #892BA4;
    color: white;
}

main .site-title .btn:hover{
    background: transparent;
    border:1px solid var(--white);
    color: var(--white)
}


/* Left Buffer */

main .left-about-section {
    float:left;
    width: 15%;
}

/* -------------- About Page Section Styling -------------------- */

    .about-title {
    display: flex;
    justify-content: flex-start;
    text-align: top;
    float: left;
    width: 70%;
}

main .about-title .about-background{
    padding: 2rem;
    text-align: center;
    text-align: top;
    color: var(--text-gray)
}

main .about-title h1, h3{
    margin: .3rem;
    /* text-align: left; */
}

main .about-title p{
    margin: .3rem;
    display: inline;
    text-align: left;
}

/* Right Buffer */

main .right-about-section {
    float:left;
    width: 15%;
}

/* Photo of Me */

#about-me-image {
    float: left;
}

.pro-photo {
    padding: .7rem;
    width: 25%;
}

#about-me-paragraph {
    float: left;
}

/* -------------- Blog Page Section Styling -------------------- */

.left-about-section {
    float: left;
    width: 10%;
}

.blog-content-section {
    float: left;
    width: 45%;
}

.blog-header-h1 {
    color: var(--text-gray);
    font-size: 2.5rem;
    color: #892BA4;
}

.blog-header-h2 {
    margin: .7rem 0;
    color: var(--text-gray);
    font-size: 2rem;
    color: var(--text-gray);
}

.author-name {
    color: var(--text-gray);
    font-weight: bold;
    margin: .3rem 0;
}

.sign-off-signature {
    color: var(--text-gray);
    font-weight: bold;
    margin: 1rem 0 1rem 0;
}

/* -------------- Works Page Section Styling -------------------- */

.works-image {
    width: 50%;
    margin: 1rem 0 1rem 0;
}

.works-header-h2 {
    margin: 1rem 0 0 0;
    color: var(--text-gray);
    font-size: 2rem;
    color: var(--text-gray);
}


